name: github-ci

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: debian-latest

    strategy:
      matrix:
        node-version: [12.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - name: run node cmd  
      run: |
        #sudo apt-get update
        #sudo apt-get install -y libgbm-dev
        npm install
        npm run build --if-present
        npm test
